/* [class^="number-slide"],
[class*=" number-slide"] {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 294px;
  max-height: 100vh;
  width: 424px;
  padding: 24px 24px 26px 24px;
} */

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  margin-top: 50px;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: var(--primary2);
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  width: 24px;
  border-radius: 32px;

  background: var(--primary5);
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}
