@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --primary50: #e7f0fa;
  --primary1: #cee0f5;
  --primary4: #3b84d6;
  --primary5: #0a65cc;
  --primary6: #0851a3;
  --gray50: #f1f2f4;
  --gray1: #e4e5e8;
  --gray2: #c8ccd1;
  --gray4: #9199a3;
  --gray5: #767f8c;
  --gray6: #5e6670;
  --gray7: #474c54;
  --danger5: #e05151;
  --success5: #0ba02c;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  width: 100vw;
  height: 100%;
  /* height: 100vh; */
  min-height: 100vh;

  overflow-x: hidden;
}

.logo {
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
}

h1 {
  font-size: 56px;
  font-weight: 500;
  line-height: 64px;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
}

h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
}

h4 {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}

h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.caption {
  font-size: 14px;
  line-height: 24px;
}

.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.body_xs {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.body_xs_500 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.body_small {
  font-size: 14px;
  line-height: 0.7;
}

.body_small_500 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.body_medium {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.body_medium_500 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.body_large {
  font-size: 18px;
  line-height: 24px;
}

.body_large_500 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.body_xl {
  font-size: 20px;
  line-height: 0.625;
}

.body_xl_500 {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}
